Unidad 1 - Introducción a los lenguajes de marcas. XML/U1_T2_DTD/discografica_ext.dtd

<!ELEMENT discografica (disco+)>
<!ELEMENT disco (titulo, interpretes, pistas)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT interpretes (interprete+)>
<!ELEMENT interprete (nombre, apellidos, rol?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT rol (#PCDATA)>
<!ELEMENT pistas (pista+)>
<!ELEMENT pista (nombre_cancion, duracion)>
<!ELEMENT nombre_cancion (#PCDATA)>
<!ELEMENT duracion (#PCDATA)>